{{!< default}}



{{!-- Blog posts --}}
<section class="px-4 mb-16" data-blog>
  <div class="max-w-container mx-auto pt-12">
    <div class="grid gap-6 sm:grid-cols-2 sm:gap-8 lg:grid-cols-3">
      {{#foreach posts}}
        {{> blog-card}}
      {{/foreach}}
    </div>

    {{> pagination}}
  </div>
</section>
